h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 10px black;
   color: darkorange;
    
}

h3 {
    font-size: 38px;
    color: #07b2b2;
     text-decoration:double underline;
    text-decoration-color:darkorange;
}

.dist_type {
    font-size: 28px;
    color: darkorange;
    font-style:italic;
    font-weight:bold;   
    
}

.dist_type1 {
    font-size: 28px;
    color: #40aaaa ;
    font-style:oblique;
    font-weight:bold;
    
}


/*Navigation styles*/
nav {
    overflow: hidden;
    background-color: black;
    display: flex;

}

nav > div {
    margin-left: auto;
    margin-right: auto;
}

nav > div > a {
    display: block;
    color: darkorange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav > div > a:hover {
    background-color: #1de5e5;
    color: black;
}

#cc-intro {
    color: black;
    font-size: 20px;
    text-align: center;
}

em {  /* or .call em, but you should aim for consistency in your styling */
    font-style: normal;
    font-size: 180%;
    color:darkorange;
    text-decoration: double underline;
    text-decoration-color: black;
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkorange; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1de5e5; 
}
